{% extends 'base.html'%}
{% block title %}
<title>Платежная система для интернет магазина</title>
{% endblock %}
{% block body %}
 <div class="pricing-header px-3 py -3 pt-md-5 pb-md-4 mx-auto txt-center">
   <h1 class = "display-4">Онлайн-сервис</h1>
   <h3> Учет клиентов</h3>
   </div>
    <div class="container">
	<div class= "card-desk mb-3 text-center">
		{% for el in data %}
		
		<div class="card mb-4 rounded-3 shadow-sm">
	       <div class="card-header py-3">
		       <h4 class="my-0 fw-normal">gfgdfddf{{el.title}}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ el.price}}<small class="text-muted fw-light">тенге</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
			<a href="" class="btn btn-lg btn-block btn-outline-primary">Купить товар</a>
           </div>
        </div>
		{% endfor %}
      </div>
	 	  
 {% endblock %}
 </div>
